.joinOuter {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #1a1a1d;
}
.joinOuter .joinInner {
  width: 20%;
}
.joinOuter .joinInner .joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .joinOuter {
    height: 100%;
  }
  .joinOuter .joinInner {
    width: 90%;
  }
}
.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #828282;
}
.outer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 8px;
  height: 80%;
  width: 40%;
}
@media (min-width: 480px) and (max-width: 1200px) {
  .outer .container {
    width: 60%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .outer {
    height: 100%;
  }
  .outer .container {
    width: 100%;
    height: 100%;
  }
}
.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1a1a1d;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}
.infoBar .innerLeft {
  flex-grow: 0.5;
  margin-left: 5%;
  color: #fff;
}
.infoBar .innerRight {
  flex-grow: 0.5;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}
.form {
  display: flex;
  border: 2px solid #d3d3d3;
}
.form .input {
  border: none;
  border-radius: 0;
  padding: 2%;
  width: 80%;
  font-size: 1.2em;
}
.form .sendBtn {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #1a1a1d;
  padding: 10px 20px;
  display: inline-block;
  border: none;
  width: 20%;
}
.msgs {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}
.msgContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}
.msgContainer .msgBox {
  padding: 0 15px;
  color: #fff;
  display: inline-block;
  max-width: 80%;
}
.msgContainer .msgBox.bgLightGreen {
  background: #90ee90;
  border-radius: 7px 20px 20px 20px;
}
.msgContainer .msgBox.bgLightBlue {
  background: #6ea6fa;
  border-radius: 20px 7px 20px 20px;
}
.msgContainer .msgBox .msgText {
  width: 100%;
  float: left;
  word-wrap: break-word;
  color: #fff;
}
.msgContainer .msgSender {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #828282;
  letter-spacing: 0.3px;
  margin-top: 0;
}
.msgContainer .msgSender.pr-10 {
  padding-right: 10px;
}
.msgContainer .msgSender.pl-10 {
  padding-left: 10px;
}
.msgContainer.justifyEnd {
  justify-content: flex-end;
}
.msgContainer.justifyStart {
  justify-content: flex-start;
}
.roomMembers {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  color: #fff;
  height: 60%;
  justify-content: space-between;
}
.roomMembers h3 {
  margin: 0;
}
.roomMembers .activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}
.roomMembers .activeContainer .activeItem {
  display: flex;
  align-items: center;
}
.roomMembers .activeContainer img {
  padding-right: 10px;
}
@media (min-width: 320px) and (max-width: 1200px) {
  .roomMembers {
    display: none;
  }
}
* {
  box-sizing: border-box;
}
* html,
* body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
* html #root,
* body #root {
  height: 100vh;
}
* html #root .button,
* body #root .button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}
* html #root .mt-20,
* body #root .mt-20 {
  margin-top: 20px;
}
* html #root .heading,
* body #root .heading {
  color: #fff;
  font-size: 2.5em;
  padding-bottom: 10px;
}
* html #root button:focus,
* body #root button:focus,
* html #root input:focus,
* body #root input:focus {
  outline: 0;
}
